<div class="footer">
    <div class="footer-content">
        <p>&copy; 2023 Your Psychologist's Name. All rights reserved.</p>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/icons/facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/icons/instagram-icon.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="assets/icons/linkedin-icon.png" alt="LinkedIn">
            </a>
            <a href="https://wa.me/yourwhatsappphonenumber" target="_blank">
                <img src="assets/icons/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
            </a>
        </div>
    </div>
</div>